.page[b-mne2ucc3e3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mne2ucc3e3] {
    flex: 1;
}

.sidebar[b-mne2ucc3e3] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-mne2ucc3e3] {
    background: rgba(72, 65, 179, 1);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.logo[b-mne2ucc3e3] {
    margin-top: -0.6rem;
}

.icons[b-mne2ucc3e3]{
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
    display: flex;

}

.Avatar[b-mne2ucc3e3] {
    border-radius: 50%;
    gap: 16px;
    padding-left: 20px;
}


.nav-left[b-mne2ucc3e3] {
    place-content: space-between;
    display: flex;
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: rgba(229, 231, 235, 1) !important;
    justify-content: flex-start;
}

    .top-row[b-mne2ucc3e3]  a, .top-row[b-mne2ucc3e3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-mne2ucc3e3]  a:hover, .top-row[b-mne2ucc3e3]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-mne2ucc3e3]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-mne2ucc3e3] {
        justify-content: space-between;
    }

    .top-row[b-mne2ucc3e3]  a, .top-row[b-mne2ucc3e3]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mne2ucc3e3] {
        flex-direction: row;
    }

    .sidebar[b-mne2ucc3e3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mne2ucc3e3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-mne2ucc3e3]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-mne2ucc3e3], article[b-mne2ucc3e3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
        place-content: space-between;

    }
}
