@* <div class="top-row ps-3 navbar navbar-dark">
<div class="container-fluid">
<img src="images/quadrado.png" asp-append-version="true" alt="" width="38px" height="38px" >
</div>
</div> *@


@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
<nav class="flex-column">
<div class="nav-item px-3">
<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
<span class="bi bi-search-nav-menu" aria-hidden="true"></span> Home
</NavLink>
</div>
<div class="nav-item px-3">
<NavLink class="nav-link" href="counter">
<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
</NavLink>
</div>
<div class="nav-item px-3">
<NavLink class="nav-link" href="weather">
<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
</NavLink>
</div>
</nav>
</div>

@code {
private bool collapseNavMenu = true;

private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

private void ToggleNavMenu()
{
collapseNavMenu = !collapseNavMenu;
}
} *@


<div class="header">
    <div class="header-left">
        <a href="#" class="back-link">
            <img src="images/arrowLeft.png" alt="Voltar" width="16x" height="34px" top="9px" botton="9px">
            <div class="title-group">
                <span class="subtitle">AVISOS</span>
                <h2>NOVO AVISO</h2>
            </div>
        </a>
    <span class="status">
        <img src="images/pencil.png" alt="Em Preenchimento" width="16" height="16">
        EM PREENCHIMENTO
    </span>
    </div>
    
    <div class="header-right">
        <button class="btn-outline">GUARDAR ALTERAÇÕES</button>
        <button class="btn-outline">VALIDAR</button>
        <button class="btn-disabled" disabled>PUBLICAR</button>
    </div>
</div>

